body {
    text-align: center;
}


table.date-info {
    width: 100%;
}

table.date-info thead tr th {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

table.date-info tbody tr td {
    margin-bottom: 10px;
    padding: 10px;
}